{% if artists %}
  	

			{% for artists in artists %}
		     <div id=artist>
				<h2>{{ artists.name }}</h2>
				<img src="{{ artists.photo.url }}">             	
		     </div>
  			{% endfor %}

{% else %}
 <p> No Releases found</p>
{% endif %}



