<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Drugaci Exhibitons{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'drugaci_app/css/style.css' %}"/>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/hot-sneaks/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static 'drugaci_app/js/player.js' %}"></script>
    <script src="{% static 'drugaci_app/js/button.js' %}"></script>
	{% include "drugaci_app/header.html" %}
</head>
<body>
	{% include "drugaci_app/display_box.html" %}
</body>
<footer>
	{% include "drugaci_app/footer.html" %}	
</footer>
</html>
