{% if releases %}
  	

			{% for release in releases %}
		     <div id=release>
				<img src="{{ release.release_logo.url }}">
                	<h2>{{ release.release_title }}</h2>
                	<h4>{{ release.artist }}</h4>
		     </div>
  			{% endfor %}

{% else %}
 <p> No Releases found</p>
{% endif %}



