{% load staticfiles %}
{% load render_partial %}
<div id="display_box">
<script>
$.ajax({
        url: 'releases',
        data: { 'test': "test"},
	dataType: 'html',
        success: function (data) {
            $("#display_box").append(data);

       }
})


</script>


</div>
