{% load staticfiles %}
<div id=navbar>
	<div id=logo>
		<a href="{% url 'index' %}"><img src={% static "drugaci_app/img/drugaci_logo.png" %} style="width:50;height:100%;"/></a>
	</div>
	<ul>
		<li><a href="{% url 'artists' %}">ARTISTS</a></li>
        <li><a href="{% url 'releases' %}">RELEASES</a></li>
		<li>DOWNLOADS</li>
		<li>CONTACT</li>
	<ul>
</div>
