<div id=player_container>
    {% load staticfiles %}
    <div id=buttons_container>
        <div class="buttons">
            <img id="next" src={% static "drugaci_app/img/player/next.png" %}/>
            <img id="play" src={% static "drugaci_app/img/player/play.png" %}/>
            <img id="pause" src={% static "drugaci_app/img/player/pause.png" %}/>
            <img id="prev" src={% static "drugaci_app/img/player/prev.png" %}/>
        </div>
    </div>
    <div class="waveform">
	<img id="top" src={% static "drugaci_app/img/player/waveform_green.png" %}/>
        <img id="bottom" src={% static "drugaci_app/img/player/playerwaveform.png" %}>
		<img id="progress_slider" src={% static "drugaci_app/img/player/progress_slider.png" %}/>
	</img>
    </div>
</div>
