<p> RELEASES </p>
{% if releases %}
  	

			{% for release in releases %}
		     <div id=release>
				<a href="{% url 'release' release.release_title %}"><img src="{{ release.release_logo.url }}" ></a>
                	<h2 id="r_title">{{ release.release_title }}</h2>
                	<h4 id="r_artist">{{ release.artist }}</h4>
		     </div>
  			{% endfor %}

{% else %}
 <p> No Releases found</p>
{% endif %}



