{% if release %}
	<div style="padding-bottom:5%;height:800px">
	<img src="{{ release.release_logo.url }}" style="width:400px;height:400px"/>
	{% for track in tracks_results %}
		
			<ul>
				<il>{{ track.artist.name }}</li>
				<il>{{ track.track_title }}</li>
				<h8 id="filename" style="display:none;">{{ track.audio_file.url }}</h8>
			</ul>
  	{% endfor %}
	</div>
{% endif %}
