
@font-face { font-family: JosefinSans; src: url('../fonts/JosefinSans-Regular.ttf'); }
@font-face { font-family: JosefinSans-Bold; src: url('../fonts/JosefinSans-Bold.ttf'); }
@font-face { font-family: Jura; src: url('../fonts/Jura-Light.ttf'); }
h2 {
	font-size:95%;
	margin:0px;
	padding-top:10%;
	padding-bottom:0px;
}

h4 {
	font-size:73%;
	margin:0px;
	padding-top:5%;
	padding-bottom:0px;
}

a:link,a:visited {
    text-decoration: none;
	color:#DCD8CF;
}




head {
    margin:0px;
    padding:0px;
    height:auto;
}


html {
    margin:0px;
    padding:0px;
    min-height: 100%;
}
body {
	font-weight: normal;
	font-family: 'Jura';
	color:#DCD8CF;
    margin:0px;
    padding:0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: #1d1e22; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d4d4dc 1%,#1d1e22  90%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #d4d4dc 1%,#1d1e22 90%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #d4d4dc 1%,#1d1e22 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4dc', endColorstr='#1d1e22',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#header{
	font-family: JosefinSans-Bold;
	font-size:90%;
	width:100%;
    height:120px;
    margin:0px;
    padding:0px;
	position:fixed;
    border-style:none;
}

#navbar{
    width:100%;
    height:50px;
    margin:0px;
    padding:0px;
    border-style:none;
    background-color:#282827;
	box-shadow: 0px 1px 1px #E25D33;
}

#logo {
	width:10%;
	height: 30px;
	margin: 0px;
	padding: 0px;
	margin-top:10px;
	margin-bottom:5px;
	margin-left:40px;
	float:left;
    cursor: pointer;
}

#logo img{
	margin: 0px;
	padding: 0px;
	float:left;
}

ul {
	width:50%;
	height:14px;;
	margin: 0px;
	padding: 0px;
	margin-top:18px;
	margin-left:35px;
	float:left;
}

#navbar li{
	margin: 0px;
	padding: 0px;
	margin-left: 5%;
	display:inline;
	cursor: pointer;
}

#player_container{
    width:100%;
    height:70px;
    margin:0px;
	margin-top: 1px;
    padding:0px;
    border-style:none;
    background-color:#282827;
	box-shadow: 0px 1px 1px #E25D33;
}

#buttons_container{
    float:right;
    width:164px;
    height:70px;
    padding-left:40px;
    padding-right:40px;
    padding-top:0px;
    padding-bottom:0px;
}

.buttons{
    float:right;
    width:186px;
    height:70px;
}

.buttons img {
    cursor: pointer;
    float:right;
    margin:22px 8px 22px 8px;
    width:25px;
    height:26px;
}

.waveform {
	position: relative;
    	float:right;
    	width:50%;
    	height:70px;
}
.waveform img{
	position:absolute;
    	width:95%;
    	height:50px;
    	margin:4px 5px 4px 5px;
}

.waveform #progress_slider{
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
	width:0.5%;
	z-index: 2;
	cursor: pointer;
}

.waveform #top{
	clip:rect(0,0px,73px,0);
	overflow: hidden;
	z-index: 1;
}

.waveform #bottom{
	overflow: hidden;
	z-index: 0;
}

#display_box{
    overflow:hidden;
    background-color:#282827;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:18%;
    margin-right:18%;
    padding:0px;
    padding-top:15%;
	box-shadow: 0px 1px 1px #E25D33;
}

#artist{
    float:left;
    max-width:25%;
    max-height:25%;
    padding-top:5%;
    padding-bottom:5%;
    padding-right:0px;
    padding-left:6%;
}

#artist img{
    margin:0px;
    max-width: 100%; 
    max-height: 100%;
	padding-top:5%;
}

#release{
    float:left;
    max-width:17%;
    max-height:17%;
    padding-top:5%;
    padding-bottom:5%;
    padding-right:0px;
    padding-left:6%;
}

#release img{
    margin:0px;
    max-width: 100%; 
    max-height: 100%;
}

footer {
	height: 200px;
	margin-top:1px;
}

#footer {
    background-color:#282827;
	height: 200px;
    margin-left:18%;
    margin-right:18%;
}
